.card {
	display: grid;
	gap: 1.5rem;
	background-color: hsl(var(--card));
	border: 1px solid hsl(var(--border));
	border-radius: calc(var(--radius) + 4px);
	box-shadow:
		0 0 #0000,
		0 1px 3px 0 rgba(0, 0, 0, 0.1),
		0 1px 2px -1px rgba(0, 0, 0, 0.1);
	color: hsl(var(--card-foreground));
	padding: 1.5rem;
}

.card-header {
	display: grid;
	gap: 0.3125rem;
}

.card-title {
	font-weight: 600;
	line-height: 1;
}

.card-description {
	color: hsl(var(--muted-foreground));
	font-size: 0.875rem;
	line-height: 1.25rem;
}
