package internal

import "github.com/dimmerz92/go-shadcn/pkg/ui"

templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<link rel="stylesheet" href="/output.css"/>
			@ui.DetectTheme()
			<title>Go shadcn Development</title>
		</head>
		<body>
			@ui.ThemeToggle(nil)
			<br/>
			@ui.Calendar(ui.CalendarProps{})
		</body>
	</html>
}
